*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
  padding-top: 80px;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
  /* display: none; */
  padding-top: 20px;
}
/* h2:hover + h3 {
  display: block;
} */

a {
  color: white;
  text-decoration: none;
}
button {
  font-size: 2rem;
  padding: 2rem 6rem;
  background: #4c6e97;
  color: white;
  /* border-radius: 10px solid black transparent; */
  border: none;
  cursor: pointer;
  transition: all 1s ease-in-out;
  animation: CloudAnimation 2s;
}
button:hover {
  background-color: #27394e;
}

.main-head {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10000;
}

nav {
  display: flex;
  min-height: 10vh;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  list-style: none;
}

#logo {
  flex: 2 1 20rem;
  font-size: 1.8rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("./image/RK.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.hero h3 {
  padding: 5rem;
}

#Locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url(./image/city_and_sea.png);
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-bottom: 550px;
  padding-top: 100px;
  position: relative;
}

.Locations-head {
  width: 90%;
  margin: auto;
}

.Locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.Locations-head h3 {
  padding: 3rem 0rem;
}

/* .cloud {
  position: absolute;
  cloud-size: 2px;
} */

.moving-cloud-1 {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.Benefits-head {
  background: #343c44;
  padding: 0.5rem;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.Benefits-head h2 {
  padding-top: 5rem;
}
.Benefits-head h3 {
  padding-bottom: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  /* background: lightcoral; */
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  max-width: 15%;
  margin: 2rem;
  inline-color: white;
}

.card h4 {
  font-size: 2.6rem;
  padding: 1rem;
  margin-top: 2rem;
}

.card p {
  font-size: 1.8rem;
  margin: 3rem;
}

.card-icon {
  background: #27394e;
  margin: auto;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
    url("./image/C_M_NEW.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 40%;
  color: white;
  border-radius: 20px;
}

.form-head {
  text-align: center;
  padding: 1rem;
}

.name-form,
.email-form {
  padding: 2rem;
  text-align: center;
}
.form-wrapper label {
  margin: 0rem 2rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

footer {
  color: white;
  background: rgba(19, 28, 39, 1);
}

.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

footer h5 {
  flex: 1 1 40rem;
  font-size: 3rem;
}
/* footer ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
} */

.social a .social-icon {
  width: 30px;
  height: 30px;
}

.social {
  display: flex;
  gap: 12rem;
  /* flex-direction: column; */
}

@media screen and (max-width: 928px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
}
